<head>
  <title>Lamb of Blog</title>
</head>
<body>
<div style="padding:200 100 200; background:rgb(240,218,212); font-family: helvetica">
  <div style="float:right">
    <h1 style="color:white">Lamb of Blog</h1>
  </div>
  <%= yield %>
  <div style="margin-top:-10px">
    <ul style="font-size:12px">
      <li><a href="/posts" style="text-decoration: none; color:black;">All Posts</a></li>
    <li><a href="/posts/new" style="text-decoration: none; color:black;"">Create a New Post</a></li>
  </ul>
  </div>
</div>